echo "*.log" >> ~/mycode/.gitignore
echo "*.key" >> ~/mycode/.gitignore
echo "id_rsa*" >> ~/mycode/.gitignore
.DS_Store
echo "*.log" >> ~/mycode/.gitignore
echo "*.key" >> ~/mycode/.gitignore
echo "id_rsa*" >> ~/mycode/.gitignore
/home/student/mycode/week_2/day_2/lab_95/nasa/.env